body {
	background-image: url("image-content1.jpg");
}

.page-header{
    display: inline-block;
    margin-top: 0;
    margin-left: 150px;
    margin-right: 150px;
}

.logo {
    border-radius: 40%;
    margin-left:190px ;
}

.navigation {
    text-transform: uppercase;
    display: inline-block;
    margin-left: 120px;
}

.navigation ul {
    margin-top: 0;
}

.navigation li {
    padding: 10px;
    font-size:25px;
    font-family:monospace;
    letter-spacing:6px;
    color: darkblue;
    display: inline-block;
    margin-top:10px ;

}

.navigation li a {
    text-decoration: none;
    color: #57819b;
    transition: padding .4s;

}

.navigation li a:hover {
    color: lightskyblue;
    padding-left: 8px;
}

#get {
	margin-left: 650px;
    height:40px;
    width: 100px;
    background-color: #E1E4E9;
    box-shadow: 2px 2px #a9e6aa;
}