@font-face {
    font-family: 'OurShrit';
    src: url('Walk-Around-the-Block.ttf');
}
body {
    background-image: url("image-content1.jpg");

}

.page-header{
    display: inline-block;
    margin-top: 0;
    margin-left: 150px;
    margin-right: 150px;
}

.logo {
    border-radius: 40%;
    margin-left:190px ;
}

.navigation {
    text-transform: uppercase;
    display: inline-block;
    margin-left: 120px;
}

.navigation ul {
    margin-top: 0;
}

.navigation li {
    padding: 10px;
    font-size:25px;
    font-family:monospace;
    letter-spacing:6px;
    color: darkblue;
    display: inline-block;
    margin-top:10px ;

}

.navigation li a {
    text-decoration: none;
    color: #57819b;
    transition: padding .4s;

}

.navigation li a:hover {
    color: lightskyblue;
    padding-left: 8px;
}

.image-content {
    margin-left:0;
    align-content: center;
}

.text {
   margin-left: 420px;
   margin-top:-12px;
}

.text h2 {
    color: darkblue;
    font-family:"Calibri";

}

.welcome-text{
    margin-left:-35px;
    margin-right:260px;
    margin-top: -5px;
    font-size: 18px;
    color: darkblue ;
    font-family: "Calibri";
}

.welcome-text-2{
    margin-left:-80px;
    margin-right:260px;
    margin-top: 10px;
    font-size: 18px;
    color: darkblue ;
    font-family: "Calibri";
}
.animated {
   margin-left: -50px;
}

.side-text{
    float: right;
    margin-right: 420px;
    font-size: 20px;
    font-family: "Calibri";
    color: darkblue ;
    clear:both;
}

.choices {
    float:right;
    clear:both;
    margin-right: 330px;
    margin-top: -120px;

}

.choices p {
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    font-family:Calibri;
    width: 120px;
    height: 80px;
    border-radius: 40%;
    text-align: center;
    line-height: 80px;
    transition: background 0.3s ease-out;
    box-shadow: 2px 2px 2px #515151;
}

.choices p:nth-child(n):hover{
    font-size: 18px;
}

.choices p:nth-child(1) {
    background: #2897CE;
    margin:10px;
}

.choices p:nth-child(1):hover {
    background: #80c8ed;
}

.choices p:nth-child(2) {
    background: #F7ADBC;
    margin: 10px;
}

.choices p:nth-child(2):hover {
    background: #FFE4E1;
}

.choices p:nth-child(3) {
    background: #facb0c;
    margin: 10px;
}

.choices p:nth-child(3):hover {
    background: #ffee72;
}

.icons {
    border-radius: 50%;
    padding: 5px;
    opacity: 0.75;
}


.grafik {
   position: relative;
    float: right;
    clear:both;
    margin-right: 350px;
    margin-bottom: 60px;

}

table {
    border: 1px solid #adbbce ;
    border-collapse: collapse;
    box-shadow: 2px 2px 2px #515151;
    margin-top: 15px;



}
caption{
    background-color:#bbdeed;
    font-size:20px;
    padding:10px;
   /* box-shadow: 2px 2px 2px #515151;*/
    border-radius: 40%;


}
table th {
    background-color: #bbdeed;

}
table td {
    height: 30px;
    width: 90px;
    color: #04004b;
    text-align: center;
    font-size: 18px;
    background-color: #d3dbe8;
    background-image:url('table-back.jpg');
    transition: color 0.3s ease-out;
}

td:nth-child(n):hover {
   background: #e1ebef;
   color:#3b96d3;
   font-size:22px;
}


.side-bar {
    float: left;
    clear:both;
    margin-top: -900px;
    display: inline-block;
    margin-left: 20px;
}
